@import '../../../scss/smart-grid.sass';


//styles for modify component
.cardStyles{
	margin-bottom: 15px;

	// @include col();
  // @include size(4);

  width: calc(33.33% - 15px);

  @include xs-block{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 400px;
    margin-bottom: 10px;
  }
}