@import '../../../../scss/smart-grid.sass';
@import '../../../../scss/vars.scss';

.counter{
  display: flex;
  justify-content: center;
  align-items: center;

  flex-wrap: wrap;
}

.input{
  font-family: sans-serif;
  width: 40px;
  text-align: center;
  border: none;
  outline: none;
  font-size: 16px;

  background-color: transparent;

  @media screen and (min-width: 1921px){
    width: 2vw;
    font-size: .8vw;
  }

  @media screen and (max-width: 1200px){
    width: 4vw;
    font-size: 1.6vw;
  }

  @include sm-block{
    width: 6vw;
    font-size: 3vw;
  }

  @include xs-block{
    width: 10vw;
    font-size: 5vw;
  }
}

.button{
  position: relative;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: white;
  border: 1px solid $border;
  outline: none;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;

  @media screen and (min-width: 1921px){
    width: 1.5vw;
    height: 1.5vw;
  }

  @media screen and (max-width: 1200px){
    width: 3vw;
    height: 3vw;
  }

  @include sm-block{
    width: 4.5vw;
    height: 4.5vw;
  }

  @include xs-block{
    width: 6vw;
    height: 6vw;
  }

  &:active{
    box-shadow: none;
    border: 1px solid $border;
  }

  & > p{
    // border: 1px solid red;
    // position: absolute;
    // top: 0;
    // left: 0;
    // // transform: translate(-50%, -50%);
    // line-height: 1;
  }
  
  &__minus{
    
  }

  &__plus{

  }
}

.disabled{
  border: none;
  box-shadow: none;
  background-color: $inactive;
  cursor: default;

  &:active{
    box-shadow: none;
    border: 1px solid none;
  }
}